html, body, #content {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: monospace;
  height: 100%;
}

*::selection {
  background-color: #feacff;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
}